Repository rgranvilla/salvandopets: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}", prettier --write

feat: add authorization field on swagger
  src/core/middlewares/register/index.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

feat: add roles repository
  .changeset/wild-panthers-bow.md
  prisma/migrations/20240507150935_add_pets_table/migration.sql
  prisma/migrations/20240507153559_set_name_of_role_as_unique/migration.sql
  prisma/schema.prisma
  src/application/controllers/roles/create-role/createRoleController.ts
  src/application/controllers/roles/create-role/createRoleSchema.ts
  src/application/routes/index.ts
  src/application/routes/roles/rolesRoutes.ts
  src/core/errors/custom-errors/roleAlreadyInUseError.ts
  src/domain/roles/entities/role.ts
  src/domain/roles/use-cases/create-roles/createRoleUseCase.ts
  src/domain/users/use-cases/list-usres/listUsersUseCase.ts
  src/infra/mappers/roles/roleMapper.ts
  src/infra/repositories/roles/IRolesRepository.ts
  src/infra/repositories/roles/prisma/prismaRolesRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}", prettier --write

feat: add list roles
  .changeset/wild-panthers-bow.md
  CHANGELOG.md
  package.json
  src/application/controllers/roles/list-roles/listRolesControler.ts
  src/application/controllers/roles/list-roles/listRolesSchema.ts
  src/application/controllers/roles/update-role/updateRoleController.ts
  src/application/controllers/roles/update-role/updateRoleSchema.ts
  src/application/controllers/users/list-users/listUsersControler.ts
  src/application/routes/roles/rolesRoutes.ts
  src/core/errors/custom-errors/roleAlreadyInUseError.ts
  src/core/errors/custom-errors/roleNotFoundError.ts
  src/domain/roles/use-cases/list-roles/listRolesUseCase.ts
  src/domain/roles/use-cases/update-role/updateRoleUseCase.ts
  src/domain/users/use-cases/list-users/listUsersUseCase.test.ts
  src/domain/users/use-cases/list-users/listUsersUseCase.ts
  src/infra/repositories/roles/IRolesRepository.ts
  src/infra/repositories/roles/prisma/prismaRolesRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}", prettier --write

feat: add security on controllers schemas
  src/application/controllers/roles/create-role/createRoleSchema.ts
  src/application/controllers/roles/list-roles/listRolesSchema.ts
  src/application/controllers/roles/update-role/updateRoleSchema.ts
  src/application/controllers/users/activate-user/activateUserSchema.ts
  src/application/controllers/users/deactivate-user/deactivateUserSchema.ts
  src/application/controllers/users/list-users/listUsersSchema.ts
  src/application/controllers/users/save-personal-detail/savePersonalDetailSchema.ts
  src/application/controllers/users/update-user/updateUserSchema.ts
  src/application/routes/roles/rolesRoutes.ts
  src/application/routes/users/usersRoutes.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

chore: update changeset
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add permissions
  prisma/migrations/20240507175426_set_permission_name_as_unique/migration.sql
  prisma/migrations/20240507190341_add_description_to_permissions/migration.sql
  prisma/schema.prisma
  src/application/controllers/permissions/create-permission/createPermissionController.ts
  src/application/controllers/permissions/create-permission/createPermissionSchema.ts
  src/application/controllers/permissions/list-permission/listPermissionsControler.ts
  src/application/controllers/permissions/list-permission/listPermissionsSchema.ts
  src/application/controllers/permissions/update-permission/updatePermissionController.ts
  src/application/controllers/permissions/update-permission/updatePermissionSchema.ts
  src/application/routes/index.ts
  src/application/routes/permissions/permissionsRoutes.ts
  src/core/errors/custom-errors/permissionAlreadyInUseError.ts
  src/core/errors/custom-errors/permissionNotFoundError.ts
  src/domain/permissions/entities/permissions.ts
  src/domain/permissions/use-cases/create-permission/createPermissionUseCase.ts
  src/domain/permissions/use-cases/list-permissions/listPermissionsUseCase.ts
  src/domain/permissions/use-cases/update-permission/updatePermissionUseCase.ts
  src/infra/mappers/permissions/permissionMapper.ts
  src/infra/repositories/permissions/IPermissionsRepository.ts
  src/infra/repositories/permissions/prisma/prismaPermissionsRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

feat: add roles permission relation
  prisma/migrations/20240507215251_add_can_columns_on_roles_permissions/migration.sql
  prisma/schema.prisma
  src/application/controllers/permissions/create-permission/createPermissionSchema.ts
  src/application/controllers/permissions/update-permission/updatePermissionSchema.ts
  src/application/controllers/roles-permissions/create-role-permission/createRolePermissionController.ts
  src/application/controllers/roles-permissions/create-role-permission/createRolePermissionSchema.ts
  src/application/controllers/roles-permissions/list-roles-permissions/listRolesPermissionsControler.ts
  src/application/controllers/roles-permissions/list-roles-permissions/listRolesPermissionsSchema.ts
  src/application/controllers/roles-permissions/update-role-permission/updateRolePermissionController.ts
  src/application/controllers/roles-permissions/update-role-permission/updateRolePermissionSchema.ts
  src/application/controllers/roles/create-role/createRoleSchema.ts
  src/application/controllers/roles/list-roles/listRolesSchema.ts
  src/application/routes/index.ts
  src/application/routes/roles-permissions/rolesPermissionsRoutes.ts
  src/core/errors/custom-errors/rolePermissionAlreadyExistError.ts
  src/core/errors/custom-errors/rolePermissionNotFoundError.ts
  src/domain/rolesPermissions/entities/rolePermission.ts
  src/domain/rolesPermissions/use-cases/create-role-permission/createRolePermissionUseCase.ts
  src/domain/rolesPermissions/use-cases/list-roles-permissions/listRolesPermissionsUseCase.ts
  src/domain/rolesPermissions/use-cases/update-role-permission/updateRolePermissionUseCase.ts
  src/infra/mappers/rolesPermissions/rolePermissionMapper.ts
  src/infra/repositories/roles/IRolesRepository.ts
  src/infra/repositories/rolesPermissions/IRolesPermissionsRepository.ts
  src/infra/repositories/rolesPermissions/prisma/prismaRolesPermissionsRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

chore: update changeset
  .changeset/big-books-doubt.md
Due: prettier --write

chore: update changeset
  .changeset/big-books-doubt.md
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update changeset
  CHANGELOG.md
Due: prettier --write

refactor: path to save user details
  src/application/routes/userDetails/userDetailsRoutes.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

refactor: folders names
  src/application/routes/user-details/userDetailsRoutes.ts
  src/domain/roles-permissions/entities/rolePermission.ts
  src/domain/roles-permissions/use-cases/create-role-permission/createRolePermissionUseCase.ts
  src/domain/roles-permissions/use-cases/list-roles-permissions/listRolesPermissionsUseCase.ts
  src/domain/roles-permissions/use-cases/update-role-permission/updateRolePermissionUseCase.ts
  src/domain/users-details/entities/userDetail.ts
  src/domain/users-details/use-cases/save-user-detail/saveUserDetailUseCase.ts
  src/infra/mappers/roles-permissions/rolePermissionMapper.ts
  src/infra/mappers/user-details/userDetailsMapper.ts
  src/infra/repositories/roles-permissions/IRolesPermissionsRepository.ts
  src/infra/repositories/roles-permissions/prisma/prismaRolesPermissionsRepository.ts
  src/infra/repositories/user-details/IUserDetailsRepository.ts
  src/infra/repositories/user-details/in-memory/inMemoryUserDetailsRepository.ts
  src/infra/repositories/user-details/prisma/prismaUserDetailsRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}"

feat: add user roles relationship
  .changeset/shiny-paws-sit.md
  .eslintrc.json
  src/application/controllers/roles-permissions/create-role-permission/createRolePermissionController.ts
  src/application/controllers/roles-permissions/list-roles-permissions/listRolesPermissionsControler.ts
  src/application/controllers/roles-permissions/update-role-permission/updateRolePermissionController.ts
  src/application/controllers/users-address/save-user-address/saveUserAddressController.ts
  src/application/controllers/users-address/save-user-address/saveUserAddressSchema.ts
  src/application/controllers/users-address/userAddressSchemas.ts
  src/application/controllers/users-details/save-user-detail/saveUserDetailsController.ts
  src/application/controllers/users-details/save-user-detail/saveUserDetailsSchema.ts
  src/application/controllers/users-details/userDetailSchemas.ts
  src/application/controllers/users-roles/save-user-roles/saveUserRolesController.ts
  src/application/controllers/users-roles/save-user-roles/saveUserRolesSchema.ts
  src/application/controllers/users-roles/userRolesSchemas.ts
  src/application/routes/index.ts
  src/application/routes/users-address/userAddressRoutes.ts
  src/application/routes/users-details/userDetailsRoutes.ts
  src/application/routes/users-roles/userRolesRoutes.ts
  src/core/middlewares/register/index.ts
  src/domain/users-address/use-cases/save-user-address/saveUserAddressUseCase.ts
  src/domain/users-roles/entities/userRole.ts
  src/domain/users-roles/use-cases/save-user-roles/saveUserRolesUseCase.ts
  src/infra/mappers/roles-permissions/rolePermissionMapper.ts
  src/infra/mappers/users-roles/userRolesMapper.ts
  src/infra/repositories/roles-permissions/prisma/prismaRolesPermissionsRepository.ts
  src/infra/repositories/users-details/prisma/prismaUserDetailsRepository.ts
  src/infra/repositories/users-roles/IUserRolesRepository.ts
  src/infra/repositories/users-roles/prisma/prismaUserRolesRepository.ts
Due: eslint src --ext .ts --fix, prettier --write "**/*.{ts,tsx,md}", prettier --write

Path conditions:
  eslint src --ext .ts --fix: any of: *.{ts,tsx}
  prettier --write "**/*.{ts,tsx,md}": any of: *.{ts,tsx}
  prettier --write: any of: *.{md,mdx,mjs,yml,yaml,css}
